#File System & Python Cache (Sampah sistem)
__pycache__/
*.pyc
.DS_Store

# Virtual Environment
.venv/
env/
venv/

#kONFIGURASI LOKAL
.streamlit/secrets.toml
.env

# DATA PRIBADI (OPSIONAL)
# Kalau kamu tidak mau catatan rahasia Rachel terbaca publik di GitHub,
# masukkan nama file txt ini. TAPI, nanti pas deploy harus diakali.
# Saran: Jangan di-ignore, tapi isinya dikosongkan dulu sebelum push.